.select {
  margin-top: 34px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.select__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #756F86;
  width: max-content;
}

.select__select {
  margin-top: 7px;
  padding: 16px 16px 15px;
  appearance: none;
  background: url(../../../images/select.svg) no-repeat;
  background-position: right 21px bottom 18px;
  border: 1px solid #DBE2EA;
  box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
  border-radius: 6px;
  appearance: none;
  cursor: pointer;
}

.select__select::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #7C9CBF;
}

.select__select:focus::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #2C2738;
}

.select__select:focus {
  border: 2px solid #0880AE;
  padding: 15px 15px 14px;
  background-position: right 20px bottom 17px;
}

.select__options {
  position: absolute;
  left: 0;
  top: 83px;
  z-index: 2;
  background: #FFFFFF;
  border: 1px solid #DBE2EA;
  box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04), 0px 20px 20px rgba(44, 39, 56, 0.04);
  border-radius: 6px;
  width: 100%;
  padding: 12px 0;
  display: none;
}

.select__options_open {
  display: block;
}

.select__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #756F86;
  padding: 12px 0 11px 15px;
}

.select__item:hover {
  background: #EBF4F8;
}