.input {
  display: flex;
  flex-direction: column;
  margin-top: 34px;
}

.input:first-of-type {
  margin-top: 0;
}

.input__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #756F86;
  width: max-content;
}

.input__input {
  margin-top: 7px;
  padding: 16px 16px 15px;
  border: 1px solid #DBE2EA;
  box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
  border-radius: 6px;
  box-sizing: border-box;
  cursor: pointer;
}

.input__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #7C9CBF;
}

.input__input:focus {
  border: 2px solid #0880AE;
  padding: 15px 15px 14px;
}